/* html body dimensions */
body{
    background: url("../images/pixarlogo1.jpg") no-repeat;
     background-size: cover; 
}
/* main class dimensions with argin, padding and background */
.main{
    width:900px;
    height: auto;
    background: lemonchiffon;
    text-align: center;
    margin: 0 auto;
    margin-top: 250px;
    padding: 10px 20px 60px 20px;

}
/* h1 tag font and color */
h1{
    font-size: 3.0em;
    color: blue;
    padding-top: 40px;
    
}
/* start button color dimensions and alignment */
.start{
    background: lightpink;
    border-color: blue;
    width: 300px;
    height: 75px;
    text-align: center;
    font-size: 2em;
    
}
/* display answers */
.answer{
    display: inline-block;
    
}
/* time for the trivia */
.timeRemaining{
    font-size: 2em;
}
/* done button dimensions, color and alignment */
/* #done{
    background: lightpink;
    border-color: blue;
    width: 300px;
    height: 75px;
    text-align: center;
    font-size: 2em;
} */
/* font size for correct answer, incorrect answer and unanswered statements */
.correctAns{
    font-size: 1.5em;
}
.inCorrectAns{
    font-size: 1.5em;
}
.unAns{
    font-size: 1.5em;
}
.not-selected:hover{
    background: lightpink;
    border-color: blue;
    border-style: solid;
}
.not-selected{
    font-size: 2em;
    width: 500px;
    height: 40px;
    margin: auto;
}